body {
    background: url('https://www.photohdx.com/images/2016/10/yellow-wood-table-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gameBoard {
	position:relative;
	width:440px;
	height:440px;
	margin:0 auto;
    margin-top: 20vh;
    border: solid 1px black;
    border-radius: 50%;
    background-color: black;
    -webkit-box-shadow: 10px 10px 300px 46px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 300px 46px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 300px 46px rgba(0,0,0,0.75);
}

.button {
	position:absolute;
	width:190px;
    height:190px;
    margin: 20px;
}

#green {
	top:0;
	left:0;
	background-color:green;
	border-radius:100% 0 0 0;
}

#red {
	top:0;
	right:0;
	background-color:red;
	border-radius:0 100% 0 0 ;
}

#yellow {
	bottom:0;
	left:0;
	background-color:yellow;
    border-radius:0 0 0 100%;
}

#blue {
	bottom:0;
	right:0;
	background-color:blue;
	border-radius:0 0 100% 0 ;
}

#center {
    position:absolute;
    background-color:black;
    border: 20px solid black;
    width:200px;
    height:200px;
    top:120px;
    left:120px;
    border-radius:50%;
    align-items: center;
    justify-content: center;
  }

h1 {
    text-align: center;
    color: white;
}

button{
    margin: 0 auto;
}

.on {
    opacity: .5
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: green;
    position: absolute;
    margin-left: 30px;
}

